h1{
    color: white;
    background-color: red;
}
body{
    background-image: url("GIGAAAAAAAAAAAAAAAAAAAAAAAAAAAA.jpg");
    text-align: center          ;
}
img{
    width: 250px;
}
a{
    text-decoration: none;
}
footer{
    background-color: blanchedalmond;
}